services:
  mariadb:
    image: mariadb:11.2
    container_name: timedeal-database
    environment:
      MYSQL_ROOT_PASSWORD: root1234
      MYSQL_DATABASE: timedealdb
      MYSQL_USER: timedeal
      MYSQL_PASSWORD: timedeal
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

  redis:
    image: redis:7-alpine
    container_name: timedeal-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

volumes:
  mariadb_data:
  redis_data: